
{% extends 'app/header.html' %}
{% load static %}
{% block content %}


    <!-- start section -->
    <section class="activity section bg-light">
        <!-- start container -->
        <div class="container">
            <div class="row mt-4">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb default mb-0">
                            <li class="breadcrumb-item">
                                <a href="index.html" class="text-muted">Home</a>
                            </li>
                            <li class="breadcrumb-item active text-primary" aria-current="page">Activity</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row align-items-center  justify-content-center">
                <div class="col-lg-8">
                    <div class="inner-heading text-center">
                        <div class="mt-4">
                            <h1 class="fw-bold">Activity Feed</h1>
                            <P class="text-muted">Easiest place to buy and sell cryptocurrency.
                                Sign up and get started today.</P>
                        </div>
                    </div>
                    <div class="heading-bottom-icon d-flex justify-content-center text-center">
                        <i class="mdi mdi-image-filter-vintage"></i>
                        <i class="mdi mdi-image-filter-vintage mx-2"></i>
                        <i class="mdi mdi-image-filter-vintage"></i>
                    </div>
                </div>
            </div>




            <div class="row d-flex align-items-start mt-5">
                <div class="col-lg-3 nav flex-column nav-pills ps-3" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                        aria-selected="true"><i class="mdi mdi-weight me-2 f-18"></i>Sales</button>
                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false"><i class="mdi mdi-heart me-2 f-18"></i>Like</button>
                    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false"><i class="mdi mdi-cart me-2 f-18"></i>Offers</button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false"><i class="mdi mdi-plus-circle me-2 f-18"></i>Followings</button>
                </div>
                <div class="col-lg-8 offset-lg-1 tab-content mt-4" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab">
                        <div class="activity">
                            <div class="activity-box">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="avatar">
                                            <img src="{% static '/images/inner-image/creator/img-1.png' %}" alt=""
                                                class="img-fluid rounded-circle avatar-lg">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <div class="d-flex align-items-center">
                                            <div class="profile-info">
                                                <h6 class="fw-bold mb-0">Creative Art collection</h6>
                                                <p class="f-16 mb-0">listed by <span class="text-blue">
                                                        @Jimmy_Wright</span></p>
                                            </div>
                                            <div class="laft-day ms-auto">
                                                <p class="fw-semibold mb-0 text-muted">Last 3 days</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="activity-box mt-4">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="avatar">
                                            <img src="{% static '/images/inner-image/creator/img-3.png' %}" alt=""
                                                class="img-fluid rounded-circle avatar-lg">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <div class="d-flex align-items-center">
                                            <div class="profile-info">
                                                <h6 class="fw-bold mb-0">Colorful Abstract Painting</h6>
                                                <p class="f-16 mb-0">listed by <span class="text-blue">
                                                        @Claude_Banks</span></p>
                                            </div>
                                            <div class="laft-day ms-auto">
                                                <p class="fw-semibold mb-0 text-muted">Last 2 days</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="activity-box mt-4">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="avatar">
                                            <img src="{% static '/images/inner-image/creator/img-4.png' %}" alt=""
                                                class="img-fluid rounded-circle avatar-lg">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <div class="d-flex align-items-center">
                                            <div class="profile-info">
                                                <h6 class="fw-bold mb-0">Liquid Forest Princess</h6>
                                                <p class="f-16 mb-0">listed by <span class="text-blue">
                                                        @Ida_Chapman</span></p>
                                            </div>
                                            <div class="laft-day ms-auto">
                                                <p class="fw-semibold mb-0 text-muted">Last 2 days</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="activity-box mt-4">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="avatar">
                                            <img src="{% static '/images/inner-image/creator/img-2.png' %}" alt=""
                                                class="img-fluid rounded-circle avatar-lg">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <div class="d-flex align-items-center">
                                            <div class="profile-info">
                                                <h6 class="fw-bold mb-0">Liquid Forest Princess</h6>
                                                <p class="f-16 mb-0">listed by <span class="text-blue">
                                                        @Karla_Sharp</span></p>
                                            </div>
                                            <div class="laft-day ms-auto">
                                                <p class="fw-semibold mb-0 text-muted">Last 1 days</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="activity-box mt-4">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="avatar">
                                            <img src="{% static '/images/inner-image/creator/img-5.png' %}" alt=""
                                                class="img-fluid rounded-circle avatar-lg">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <div class="d-flex align-items-center">
                                            <div class="profile-info">
                                                <h6 class="fw-bold mb-0">Synthwave Painting</h6>
                                                <p class="f-16 mb-0">listed by <span class="text-blue">
                                                        @Franklin_Greer</span></p>
                                            </div>
                                            <div class="laft-day ms-auto">
                                                <p class="fw-semibold mb-0 text-muted">Last 3 days</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab">
                        <div class="activity">
                            <div class="activity-box">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="avatar">
                                            <img src="{% static '/images/inner-image/creator/img-5.png' %}" alt=""
                                                class="img-fluid rounded-circle avatar-lg">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <div class="d-flex align-items-center">
                                            <div class="profile-info">
                                                <h6 class="fw-bold mb-0">Creative Art collection</h6>
                                                <p class="f-16 mb-0">listed by <span class="text-blue">
                                                        @Jimmy_Wright</span></p>
                                            </div>
                                            <div class="laft-day ms-auto">
                                                <p class="fw-semibold mb-0 text-muted">Last 3 days</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="activity-box mt-4">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="avatar">
                                            <img src="{% static '/images/inner-image/creator/img-6.png' %}" alt=""
                                                class="img-fluid rounded-circle avatar-lg">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <div class="d-flex align-items-center">
                                            <div class="profile-info">
                                                <h6 class="fw-bold mb-0">Colorful Abstract Painting</h6>
                                                <p class="f-16 mb-0">listed by <span class="text-blue">
                                                        @Claude_Banks</span></p>
                                            </div>
                                            <div class="laft-day ms-auto">
                                                <p class="fw-semibold mb-0 text-muted">Last 2 days</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab">
                        <div class="activity">
                            <div class="activity-box">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="avatar">
                                            <img src="{% static '/images/inner-image/creator/img-7.png' %}" alt=""
                                                class="img-fluid rounded-circle avatar-lg">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <div class="d-flex align-items-center">
                                            <div class="profile-info">
                                                <h6 class="fw-bold mb-0">Creative Art collection</h6>
                                                <p class="f-16 mb-0">listed by <span class="text-blue">
                                                        @Jimmy_Wright</span></p>
                                            </div>
                                            <div class="laft-day ms-auto">
                                                <p class="fw-semibold mb-0 text-muted">Last 3 days</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <div class="activity">
                            <div class="activity-box">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="avatar">
                                            <img src="{% static '/images/inner-image/creator/img-8.png' %}" alt=""
                                                class="img-fluid rounded-circle avatar-lg">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <div class="d-flex align-items-center">
                                            <div class="profile-info">
                                                <h6 class="fw-bold mb-0">Creative Art collection</h6>
                                                <p class="f-16 mb-0">listed by <span class="text-blue">
                                                        @Jimmy_Wright</span></p>
                                            </div>
                                            <div class="laft-day ms-auto">
                                                <p class="fw-semibold mb-0 text-muted">Last 3 days</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="activity-box mt-4">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <div class="avatar">
                                            <img src="{% static '/images/inner-image/creator/img-1.png' %}" alt=""
                                                class="img-fluid rounded-circle avatar-lg">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <div class="d-flex align-items-center">
                                            <div class="profile-info">
                                                <h6 class="fw-bold mb-0">Colorful Abstract Painting</h6>
                                                <p class="f-16 mb-0">listed by <span class="text-blue">
                                                        @Claude_Banks</span></p>
                                            </div>
                                            <div class="laft-day ms-auto">
                                                <p class="fw-semibold mb-0 text-muted">Last 2 days</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>


    {% endblock %}