{% extends 'app/header.html' %}
{% load static %}
{% block content %}



    <!-- start section -->
    <section class="contact section bg-light  overflow-hidden">
        <!-- start container -->
        <div class="container">
            <div class="row mt-4 justify-content-start">
                <div class="col-lg-8">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb default mb-0">
                            <li class="breadcrumb-item">
                                <a href="index.html" class="text-muted">Home</a>
                            </li>
                            <li class="breadcrumb-item active text-primary" aria-current="page">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row justify-content-start">
                <div class="col-lg-8">
                    <div class="inner-heading">
                        <div class="mt-4">
                            <h1 class="fw-bold">Hi, 🙋‍♀️</h1>
                            <P class="text-muted">Send SMS from your inbox. You write an email, the tool converts it,<br> and
                                your recipient receives an SMS 🤗</P>
                        </div>
                    </div>
                </div>
            </div>




            <form class="mt-4">
                <div class="row justify-content-start">
                    <div class="col-lg-8">
                        <div class="info-box">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="email  mt-4">
                                        <label for="validationDefault03" class="form-label fw-semibold"> Email Address
                                            :</label>
                                        <input type="text" class="form-control" id="validationDefault03"
                                            placeholder="Enter Your Email" required>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="name  mt-4">
                                        <label for="validationDefault003" class="form-label fw-semibold"> Full Name
                                            :</label>
                                        <input type="text" class="form-control" id="validationDefault003"
                                            placeholder="Daniels" value="" required>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mt-4">
                                        <label for="validationDefault03" class="form-label fw-semibold"> Select
                                            Country
                                            :</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Select a Subject</option>
                                            <option value="1">NFT</option>
                                            <option value="2">Support</option>
                                            <option value="3">Privacy</option>
                                            <option value="3">Wallet</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mt-4">
                                        <label for="validationDefault03" class="form-label fw-semibold"> Select a
                                            Subject
                                            :</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>United States</option>
                                            <option value="1">Norway</option>
                                            <option value="2">Canada</option>
                                            <option value="3">USA</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 ">
                                    <div class="message my-4">
                                        <label for="validationDefault03" class="form-label fw-semibold"> Message
                                            :</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                            required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="submit-button mt-4">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="request-image position-absolute top-0 end-0 p-0">
                    <img src="{% static '/images/inner-image/contact-bg.png' %}" alt="" class="img-fluid">
                </div>

            </form>

        </div>
        <!-- end container -->
    </section>

    {% endblock %}   
    


   