

{% extends 'app/header.html' %}
{% load static %}
{% block content %}

    <!-- start section -->
    <section class="Privacy section bg-light">
        <!-- start container -->
        <div class="container">
            <div class="row mt-4">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb default mb-0">
                            <li class="breadcrumb-item">
                                <a href="index.html" class="text-muted">Home</a>
                            </li>
                            <li class="breadcrumb-item active text-primary" aria-current="page">Privacy</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">
                    <div class="inner-heading text-center">
                        <div class="mt-4">
                            <h1 class="fw-bold">Privacy</h1>
                            <P class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium <br> doloremque laudantium, totam rem aperiam.</P>
                        </div>
                    </div>

                    <div class="heading-bottom-icon d-flex justify-content-center text-center">
                        <i class="mdi mdi-image-filter-vintage"></i>
                        <i class="mdi mdi-image-filter-vintage mx-2"></i>
                        <i class="mdi mdi-image-filter-vintage"></i>
                    </div>
                </div>
            </div>


            <div class="row mt-5">
                <div class="col-lg-12">
                    <div class="privacy-box">
                        <h4 class="fw-bold mt-4">When do we collect information?</h4>

                        <p class="text-muted mt-3">This privacy policy has been compiled to better serve those who are
                            concerned with how their 'Personally Identifiable Information' (PII) is being used online.
                            PII, as described in US privacy law and information security, is information that can be
                            used on its own or with other information to identify, contact, or locate a single person,
                            or to identify an individual in context.
                            <br>
                            Please read our privacy policy carefully to get a clear understanding of how we collect,
                            use, protect or otherwise handle your Personally Identifiable Information in accordance with
                            our website.
                        </p>


                        <h4 class="fw-bold mt-4">How do we protect your information?</h4>

                        <p class="text-muted mt-3">We do not use vulnerability scanning and/or scanning to PCI
                            standards.
                            We only provide articles and information. <br> We never ask for credit card numbers.<br>
                            We use regular Malware Scanning.<br>

                            Your personal information is contained behind secured networks and is only accessible by a
                            limited number of persons who have special access rights to such systems, and are required
                            to keep the information confidential. In addition, all sensitive/credit information you
                            supply is encrypted via Secure Socket Layer (SSL) technology.</p>

                        <h4 class="fw-bold mt-4">Online Privacy Protection Act</h4>

                        <p class="text-muted mt-3">CalOPPA is the first state law in the nation to require commercial
                            websites and online services to post a privacy policy. The law's reach stretches well beyond
                            California to require any person or company in the United States (and conceivably the world)
                            that operates websites collecting Personally Identifiable Information from California
                            consumers to post a conspicuous privacy policy on its website stating exactly the
                            information being collected and those individuals or companies with whom it is being shared.
                            - See more.
                        </p>

                        <h4 class="fw-bold mt-4">Google</h4>
                        <p class="text-muted mt-3">
                            Google, as a third-party vendor, uses cookies to serve ads on our site. Google's use of the
                            DART cookie enables it to serve ads to our users based on previous visits to our site and
                            other sites on the Internet. Users may opt-out of the use of the DART cookie by visiting the
                            Google Ad and Content Network privacy policy.</p>

                        <h4 class="fw-bold mt-4">Do we use 'cookies'?</h4>

                        <p class="text-muted mt-3">
                            Cookies are small files that a site or its service provider transfers to your computer's
                            hard drive through your Web browser (if you allow) that enables the site's or service
                            provider's systems to recognize your browser and capture and remember certain information.
                            For instance, we use cookies to help us remember and process the items in your shopping
                            cart. They are also used to help us understand your preferences based on previous or current
                            site activity, which enables us to provide you with improved services. We also use cookies
                            to help us compile aggregate data about site traffic and site interaction so that we can
                            offer better site experiences and tools in the future.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- end container -->
    </section>

    {% endblock %}
    
    