
{% extends 'app/header.html' %}
{% load static %}
{% block content %}


    <!-- start section -->
    <section class="wallet section bg-light">
        <!-- start container -->
        <div class="container">
            <div class="row mt-4">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb default mb-0">
                            <li class="breadcrumb-item">
                                <a href="index.html" class="text-muted">Home</a>
                            </li>
                            <li class="breadcrumb-item active text-primary" aria-current="page">Wallet</li>
                        </ol>
                    </nav>
                </div>
            </div>


            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">
                    <div class="inner-heading text-center">
                        <div class="mt-4">
                            <h1 class="fw-bold">Connect your wallet</h1>
                            <P class="text-muted">Connect with one of our available wallet providers.</P>
                        </div>
                    </div>

                    <div class="heading-bottom-icon d-flex justify-content-center text-center">
                        <i class="mdi mdi-image-filter-vintage"></i>
                        <i class="mdi mdi-image-filter-vintage mx-2"></i>
                        <i class="mdi mdi-image-filter-vintage"></i>
                    </div>
                </div>
            </div>

            <div class="row align-items-center mt-5">
                <div class="col-lg-4">
                    <div class="wallet-box text-center mt-4">
                        <a href="" class=" wallet-icon">
                            <img src="images/inner-image/wallet/1.png" alt="" class="img-fluid">
                        </a>
                        <h6 class="fw-bold mt-3">Metamask</h6>
                        <p class="mb-0 text-muted "></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="wallet-box text-center mt-4">
                        <a href="" class=" wallet-icon">
                            <img src="images/inner-image/wallet/2.png" alt="" class="img-fluid">
                        </a>
                        <h6 class="fw-bold mt-3">Fortmatic</h6>
                        <p class="mb-0 text-muted "></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="wallet-box text-center mt-4">
                        <a href="" class=" wallet-icon">
                            <img src="images/inner-image/wallet/3.png" alt="" class="img-fluid">
                        </a>
                        <h6 class="fw-bold mt-3">Bitski</h6>
                        <p class="mb-0 text-muted "></p>
                    </div>
                </div>
                <div class="col-lg-4 mt-3">
                    <div class="wallet-box text-center">
                        <a href="" class=" wallet-icon">
                            <img src="images/inner-image/wallet/4.png" alt="" class="img-fluid">
                        </a>
                        <h6 class="fw-bold mt-3">Trust</h6>
                        <p class="mb-0 text-muted "></p>
                    </div>
                </div>
                <div class="col-lg-4 mt-3">
                    <div class="wallet-box text-center">
                        <a href="" class=" wallet-icon">
                            <img src="images/inner-image/wallet/5.png" alt="" class="img-fluid">
                        </a>
                        <h6 class="fw-bold mt-3">Authereum</h6>
                        <p class="mb-0 text-muted "></p>
                    </div>
                </div>
                <div class="col-lg-4 mt-4">
                    <div class="wallet-box text-center">
                        <a href="" class=" wallet-icon">
                            <img src="images/inner-image/wallet/6.png" alt="" class="img-fluid">
                        </a>
                        <h6 class="fw-bold mt-3">Wallet Connect</h6>
                        <p class="mb-0 text-muted "></p>
                    </div>
                </div>

            </div>

            <div class="text-center mt-4">
                <button class="btn btn-white d-inline text-dark shadow">Read More</button>
            </div>
        </div>
        <!-- end container -->
    </section>
    {% endblock %}
    


    